.navbar {
  background-color: white !important;
}

.nav-item {
  color: rgb(58, 11, 11) !important;
}

.jumbotron {
  color: rgb(245, 210, 210);
  background-color: rgb(58, 11, 11);
}

button:hover{
  cursor: pointer;
}
p {
  color: rgb(43, 4, 4);  
}